---
import WhyChooseUsImage from "../assets/images/landing/why-choose-us.webp";
import MineCrypto from "../assets/svg/mine-crypto.svg";
import PayHashpower from "../assets/svg/pay-hashpower.svg";
import OwnBuying from "../assets/svg/own-buying.svg";
import Expense from "../assets/svg/expense.svg";
import Flexible from "../assets/svg/flexible.svg";
import FastCrypto from "../assets/svg/fast-crypto.svg";
import MiningHardware from "../assets/svg/mining-hardware.svg";
import StableMining from "../assets/svg/stable-mining.svg";
import TransperantPrice from "../assets/svg/transperant-price.svg";
import Corporate from "../assets/svg/corporate.svg";
---

<section
    id="why-choose-us"
    class="relative overflow-hidden py-10 pb-0 bg-white"
>
    <div class="container max-w-[1400px] mx-auto px-4">
        <div
            class="flex flex-col mb-4 md:mb-0 md:flex-row items-start gap-10 md:gap-15"
        >
            <div class="relative md:w-1/2">
                <div data-aos="fade-right" class="sticky top-24 self-start">
                    <h2 class="font-bold text-gray-900 text-3xl md:text-4xl">
                        Why LazyPickaxe?
                    </h2>
                    <p class="text-gray-600 text-lg mt-3 max-w-[650px]">
                        Lazypickaxe empowers you to mine your own cryptocurrency
                        effortlessly and securely, without the hassle of
                        managing complex hardware or exorbitant energy costs.
                    </p>
                    <img
                        src={WhyChooseUsImage.src}
                        alt="lazypickaxe - Why Choose us"
                        class="hidden md:block"
                    />
                </div>
            </div>

            <div
                class="why-scroll-area md:w-1/2 w-full md:h-[500px] sm:h-auto overflow-y-auto"
            >
                <div class="scroll-inner">
                    <div>
                        <div
                            class="relative border border-[#F7D243] shadow-md rounded-xl p-6 text-center mt-8"
                        >
                            <div
                                class="circle-icon absolute -top-6 left-1/2 -translate-x-1/2 w-14 h-14 rounded-full bg-gradient-to-b from-purple-400 to-indigo-600 flex items-center justify-center shadow-lg"
                            >
                                <img
                                    src={MineCrypto.src}
                                    alt="Mine Crypto"
                                    width="24px"
                                />
                            </div>

                            <h5 class="text-[22px] font-bold mt-5">
                                Mine Your Own Crypto
                            </h5><p>
                                Take control by mining Bitcoin and other
                                cryptocurrencies directly, without
                                intermediaries.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div
                            class="relative border border-[#F7D243] shadow-md rounded-xl p-6 text-center mt-8"
                        >
                            <div
                                class="circle-icon absolute -top-6 left-1/2 -translate-x-1/2 w-14 h-14 rounded-full bg-gradient-to-b from-purple-400 to-indigo-600 flex items-center justify-center shadow-lg"
                            >
                                <img
                                    src={PayHashpower.src}
                                    alt="Pay hashpower"
                                    width="24px"
                                />
                            </div>

                            <h5 class="text-[22x] font-bold mt-5">
                                Pay Only for Hashpower
                            </h5>
                            <p>
                                Forget about costly electricity and hardware—pay
                                for the exact hashpower you use.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div
                            class="relative border border-[#F7D243] shadow-md rounded-xl p-6 text-center mt-8"
                        >
                            <div
                                class="circle-icon absolute -top-6 left-1/2 -translate-x-1/2 w-14 h-14 rounded-full bg-gradient-to-b from-purple-400 to-indigo-600 flex items-center justify-center shadow-lg"
                            >
                                <img
                                    src={OwnBuying.src}
                                    alt="Own Crypto"
                                    width="24px"
                                />
                            </div>

                            <h5 class="text-[22px] font-bold mt-5">
                                Own Instead of Buying
                            </h5>
                            <p>
                                Generate your own coins instead of purchasing
                                them on exchanges, boosting long-term value.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div
                            class="relative border border-[#F7D243] shadow-md rounded-xl p-6 text-center mt-8"
                        >
                            <div
                                class="circle-icon absolute -top-6 left-1/2 -translate-x-1/2 w-14 h-14 rounded-full bg-gradient-to-b from-purple-400 to-indigo-600 flex items-center justify-center shadow-lg"
                            >
                                <img
                                    src={Expense.src}
                                    alt="Expense"
                                    width="24px"
                                />
                            </div>

                            <h5 class="text-[22px] font-bold mt-5">
                                Expense, Not Investment
                            </h5>
                            <p>
                                Treat mining costs as operational expenses
                                rather than risky capital investments.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div
                            class="relative border border-[#F7D243] shadow-md rounded-xl p-6 text-center mt-8"
                        >
                            <div
                                class="circle-icon absolute -top-6 left-1/2 -translate-x-1/2 w-14 h-14 rounded-full bg-gradient-to-b from-purple-400 to-indigo-600 flex items-center justify-center shadow-lg"
                            >
                                <img
                                    src={Flexible.src}
                                    alt="Flexible Payment"
                                    width="24px"
                                />
                            </div>

                            <h5 class="text-[22px] font-bold mt-5">
                                Flexible Payment Plans
                            </h5>
                            <p>
                                Choose payment options that suit your budget,
                                including lightning payment.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div
                            class="relative border border-[#F7D243] shadow-md rounded-xl p-6 text-center mt-8"
                        >
                            <div
                                class="circle-icon absolute -top-6 left-1/2 -translate-x-1/2 w-14 h-14 rounded-full bg-gradient-to-b from-purple-400 to-indigo-600 flex items-center justify-center shadow-lg"
                            >
                                <img
                                    src={FastCrypto.src}
                                    alt="Fast Crypto"
                                    width="24px"
                                />
                            </div>

                            <h5 class="text-[22px] font-bold mt-5">
                                Fast Crypto Market Entry
                            </h5>
                            <p>
                                Start mining immediately without delays or
                                complex setup—perfect for beginners and pros
                                alike.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div
                            class="relative border border-[#F7D243] shadow-md rounded-xl p-6 text-center mt-8"
                        >
                            <div
                                class="circle-icon absolute -top-6 left-1/2 -translate-x-1/2 w-14 h-14 rounded-full bg-gradient-to-b from-purple-400 to-indigo-600 flex items-center justify-center shadow-lg"
                            >
                                <img
                                    src={MiningHardware.src}
                                    alt="Mining Hardware"
                                    width="24px"
                                />
                            </div>

                            <h5 class="text-[22px] font-bold mt-5">
                                Latest Mining Hardware
                            </h5>
                            <p>
                                Access cutting-edge mining rigs from Bitmain,
                                Iceriver, and other top manufacturers.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div
                            class="relative border border-[#F7D243] shadow-md rounded-xl p-6 text-center mt-8"
                        >
                            <div
                                class="circle-icon absolute -top-6 left-1/2 -translate-x-1/2 w-14 h-14 rounded-full bg-gradient-to-b from-purple-400 to-indigo-600 flex items-center justify-center shadow-lg"
                            >
                                <img
                                    src={StableMining.src}
                                    alt="Stable mining"
                                    width="24px"
                                />
                            </div>

                            <h5 class="text-[22px] font-bold mt-5">
                                Stable Mining Operations
                            </h5>
                            <p>
                                Enjoy consistent, reliable mining with optimized
                                performance and minimal downtime.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div
                            class="relative border border-[#F7D243] shadow-md rounded-xl p-6 text-center mt-8"
                        >
                            <div
                                class="circle-icon absolute -top-6 left-1/2 -translate-x-1/2 w-14 h-14 rounded-full bg-gradient-to-b from-purple-400 to-indigo-600 flex items-center justify-center shadow-lg"
                            >
                                <img
                                    src={TransperantPrice.src}
                                    alt="Transperant Pricing"
                                    width="24px"
                                />
                            </div>

                            <h5 class="text-[22px] font-bold mt-5">
                                Transparent Fixed Pricing
                            </h5>
                            <p>
                                No confusing auctions or hidden fees—know
                                exactly what you pay every time.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div
                            class="relative border border-[#F7D243] shadow-md rounded-xl p-6 text-center mt-8"
                        >
                            <div
                                class="circle-icon absolute -top-6 left-1/2 -translate-x-1/2 w-14 h-14 rounded-full bg-gradient-to-b from-purple-400 to-indigo-600 flex items-center justify-center shadow-lg"
                            >
                                <img
                                    src={Corporate.src}
                                    alt="Corporate orders"
                                    width="24px"
                                />
                            </div>

                            <h5 class="text-[22px] font-bold mt-5">
                                Corporate Orders Welcome
                            </h5>
                            <p>
                                Custom solutions and bulk orders available for
                                businesses seeking large-scale mining.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script is:inline>
    window.addEventListener("DOMContentLoaded", () => {
        const section = document.querySelector("#why-choose-us");
        const scrollArea = document.querySelector(".why-scroll-area");
        const inner = document.querySelector(".scroll-inner");
        if (!section || !scrollArea || !inner) return;

        const isMobile = window.innerWidth < 768;

        if (isMobile) {
            scrollArea.style.height = "auto";
            scrollArea.style.overflow = "visible";
            return;
        }
        inner.innerHTML += inner.innerHTML;
        scrollArea.scrollTop = 1;
        let autoScroll = null;
        let scrollSpeed = 1;
        let userScrolling = false;
        let userScrollTimeout = null;
        scrollArea.style.scrollBehavior = "smooth";

        function startScroll() {
            if (autoScroll || userScrolling) return;
            autoScroll = setInterval(() => {
                scrollArea.scrollTop += scrollSpeed;
                if (scrollArea.scrollTop >= inner.scrollHeight / 2) {
                    scrollArea.style.scrollBehavior = "auto";
                    scrollArea.scrollTop = 1;
                    scrollArea.style.scrollBehavior = "smooth";
                }
            }, 20);
        }

        function stopScroll() {
            clearInterval(autoScroll);
            autoScroll = null;
        }

        function onUserScroll() {
            userScrolling = true;
            stopScroll();
            clearTimeout(userScrollTimeout);
            userScrollTimeout = setTimeout(() => {
                userScrolling = false;
                startScroll();
            }, 1000);
        }

        scrollArea.addEventListener("wheel", onUserScroll, { passive: true });
        scrollArea.addEventListener("touchstart", onUserScroll, {
            passive: true,
        });
        scrollArea.addEventListener("touchmove", onUserScroll, {
            passive: true,
        });
        scrollArea.addEventListener("mousedown", onUserScroll);
        const observer = new IntersectionObserver(
            (entries) => {
                entries.forEach((entry) => {
                    if (entry.isIntersecting) startScroll();
                    else stopScroll();
                });
            },
            { threshold: 0.3 },
        );
        observer.observe(section);
    });
</script>

<style>
    p {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.7);
    }
</style>
